/* begin  */
.notification {
  position: absolute;
  top: 12%;
  right: 20%;
  left: 20%;
  height: 8%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  transform: translateY(-300%);
}

.notification.show-totificatinon {
  transform: translateY(0%);
}

/* .notification.show-totificatino::before {
    content: '';
    animation: notifier 5s linear forwards;
  } */

.notification span {
  font-size: 3rem;
}

.fa-circle-xmark {
  position: absolute;
  right: 1%;
  top: 10%;
  color: red;
  cursor: pointer;
  opacity: 0.1;
}

.notification:hover .fa-circle-xmark {
  opacity: 1;
}

/* begin alerte */
.pop-up-alert span {
  font-size: 3rem;
}

.pop-cont-btn {
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.pop-cont-btn button {
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

.pop-cont-btn :nth-child(1) {
  background-color: #FF001F;
}

.pop-cont-btn :nth-child(2) {
  background-color: #58D68D;
}

.pop-containt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid red;
  border-radius: 20px;
  width: 450px;
  height: 250px;
  box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);

  animation: bouger 1s;
}

.visible {
  visibility: visible;
  /* animation: bouger 
  .3s; */
}

/* end alerte */


/* begin popup d'alert */
.container-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
   visibility: hidden;
}
.container-popup.visible{
  visibility: visible;
}
.body-pop {
  border-radius: 10px;
  background-color: #fff;
  width: 450px;
  height: 300px;
  box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px -1px 30px 49px rgba(0, 0, 0, 0.15);
}

.btns label {
  display: inline-flex;
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 55px;
  outline: none;
  margin: 0 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btns label:first-child {
  background: #2980b9;
}

.btns label:first-child:hover {
  background: #2573a7;
}

.btns label:last-child {
  background: #f23b26;
}

.btns label:last-child:hover {
  background: #d9210d;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.alert_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icone-poup {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #f23b26;
  border: 5px solid #f23b26;
  line-height: 90px;
  font-size: 50px;
}

.head-popup {
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.cont-icone-pop{
  display: flex;
  justify-content: center;
}
#message-alerte{
  margin: 1rem;
  font-size: 1.3rem;
}
.fa-exclamation{
  animation: bouger 2s infinite ;
}

/* end popup d'alert */